#РОУТИНГ
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]





#Это директива Apache mod_rewrite, которая включает перезапись URL-адресов. 
#Когда она включена, все запросы к корневой папке сервера будут перенаправлены в папку "public". 
#Например, если пользователь запрашивает "http://example.com/", то он будет перенаправлен на "http://example.com/public/".
#Это может быть полезно для создания более безопасных и организованных структур URL-адресов.

RewriteEngine On 
RewriteRule (.*) public/$1
