#РОУТИНГ
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]





#Это директива Apache mod_rewrite, которая включает перезапись URL-адресов. 
#Когда она включена, все запросы к корневой папке сервера будут перенаправлены в папку "public". 
#Например, если пользователь запрашивает "http://example.com/", то он будет перенаправлен на "http://example.com/public/".
#Это может быть полезно для создания более безопасных и организованных структур URL-адресов.

RewriteEngine On 
RewriteRule (.*) public/$1

#В самом public такой файл

RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?$1

#Этот код включает модуль перезаписи URL веб-сервера и задает следующие правила:
#- Если запрашиваемый файл не существует (!-f) и не является директорией (!-d), то...
#- Перезаписать URL запроса на index.php с передачей всего запроса ($1) в качестве параметра.
#Это позволяет обрабатывать все запросы через единую точку входа (index.php)
#и использовать переданный в параметре URL для определения того,
#какой контент нужно вывести на странице.
